$font-size-s: 12px;
$font-size-m: $font-size-s*2;
$font-size-l: $font-size-m*2;

$font-family-base: "Helvetica, Arial, sans-serif";
$font-family-title: "monospace";

$color-red: red;
$color-blue:blue;