$font-size-s: 12px;
$font-size-m: $font-size-s*2;
$font-size-l: $font-size-m*2;

$font-family-base: "Helvetica, Arial, sans-serif";
$font-family-title: "monospace";

$color-red: red;
$color-blue:blue;

body{
    font-family: $font-family-base;
}

.header{
    h1{
        font-family: $font-family-title;
        font-size: $font-size-l;
    }
}

.content{
    li{
        font-size: $font-size-m;
        color: $color-red;
    }
}

.footer{
    p{
        font-size: $font-size-s;
        color: $color-blue;
    }
}